<div class="ui grid">
  <div class="row">
    <div class="ui four wide left floated column item" ng-show="stockDetails != null">
      <button class="ui labeled icon button" ng-click="back()">
        <i class="left arrow icon"></i>
        Back
      </button>
    </div>
    <div class="ui four wide right floated column item">
        <div class="ui action fluid input">
            <input type="text" placeholder="Search (e.g. GOOG)" ng-model="currentStockSymbol" ng-enter="stockSearch()">
            <button class="ui icon button" ng-click="stockSearch()">
              <i class="search icon"></i>
            </button>
        </div>
    </div>
  </div>
      <!-- <div ng-show="stockSymbolError != null" class="ui item">
          <div class="ui error message">
              {{stockSymbolError}}
          </div>
      </div> -->
    <div ng-show="stockDetails == null" ng-include src="'app/components/stockSearch/mainStockView.html'"></div>
    <div ng-show="stockDetails != null" ng-include src="'app/components/stockSearch/singleStockView.html'"></div>
</div>
