<div class="ui centered grid">
  <div class="four wide column">
    <div class="ui segment">
      <div class="ui top attached label">Total Value</div>
      <div class="ui relaxed divided list">
        <div class="item">Shares</div>
        <div class="item">Companies</div>
        <div class="item">Value</div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <table class="ui celled padded table">
      <thead>
        <tr><th class="single line">Ticker</th>
        <th>Shares</th>
        <th>Current Value</th>
        </tr>
      </thead>
      <tbody>
        <td class="single line">
          GOOG
        </td>
        <td class="single line">
          20
        </td>
        <td class="single line">
          +$900
        </td>
      </tbody>
  </div>
</div>
