<div class="ui centered grid">
    <div class="ui fourteen wide column">
        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th># Stocks</th>
                    <th>Value</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trans in transactions track by $index">
                    <td>
                        {{trans.StockName}}
                    </td>
                    <td>
                        {{trans.NumSharesBoughtOrSold}}
                    </td>
                    <td class="{{trans.FinancialTransactionDirection == 'IN' ? 'positive' : 'negative'}}">
                        {{trans.FinancialTransactionDirection == 'IN' ? 'SELL | +' : 'BUY | -'}}{{trans.Amount}} {{trans.Currency}}
                    </td>
                    <td>
                        {{trans.TransactionDate | date : 'medium'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
