<script>
  $('#navbar').css('display', 'none');
  $('#container').removeClass('container segment secondary').addClass('login grid');
  $('#view').addClass('column');
</script>
<main>
  <h1 class="ui brown image header">
    <div class="logo image">
      C
    </div>
    <div class="content">
      Log-in to your account
    </div>
  </h1>
  <div class="ui stacked segment">
    <button id="login" ng-click="login()" class="ui usfacebook labeled icon button">
      <i class="usfacebook icon"></i>
      Login
    </button>
  </div>
</main>
