.login.grid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login.grid > .column {
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  text-align: center;
  -webkit-align-self: inherit;
  -ms-flex-item-align: inherit;
  align-self: inherit;
}

.logo {
  width: 50px!important;
  height: 50px!important;
  background: #a5673f;
  color: #fff;
  line-height: 50px;
}

.ui.menu .item > .image.label {
  padding: .5833em .833em .5833em .5em;
}

.ticker {
  width: 100%;
  padding: 1em .5em;
  overflow: hidden;
}

.ticker .stock {
  display: inline-block;
  margin: 0 1em;
}

  .ticker .stock .symbol {
    font-size: 20px;
    padding-right: .25em;
  }

  .ticker .stock span {
    color: #fbbd08;
  }

  .ticker .stock span.positive {
    color: #21ba45;
  }

  .ticker .stock span.negative {
    color: #db2828;
  }

.post.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  border-bottom: solid 1px #CECECE;
  padding: 1em;
}

.status.form {
  padding: 0;
}
.status.form .submit.button {
  margin: .5em 1em;
}

.post.grid > .field {
  width: 100%;
}

  .post.grid .image {
    width: 50px;
    height: 50px;
  }

  .post.grid .field .post.area {
    border: none;
    resize: none;
  }


  .ui.usfacebook.button {
  background-color: #3b5998;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

.ui.usfacebook.button:hover {
  background-color: #304d8a;
  color: #ffffff;
  text-shadow: none;
}

.ui.usfacebook.button:active {
  background-color: #2d4373;
  color: #ffffff;
  text-shadow: none;
}

i.icon.usfacebook.square:before {
  content: "\f082";
}

i.icon.usfacebook:before {
  content: "\f09a";
}

i.icon.usfacebook.official {
  content: "\f230";
}
