<div class="ui grid">
  <div class="row">
    <div class="ui four wide left floated column item" ng-show="hasQuery">
      <button class="ui labeled icon button" ng-click="back()">
        <i class="left arrow icon"></i>
        Back
      </button>
    </div>
    <div class="ui four wide right floated column item">
        <div class="ui action fluid input">
            <input type="text" placeholder="Search (e.g. GOOG)" ng-model="currentStockSymbol" ng-enter="stockSearch()">
            <button class="ui icon button" ng-click="stockSearch()">
              <i class="search icon"></i>
            </button>
        </div>
    </div>
  </div>
    <div ng-show="!hasQuery" class="sixteen wide column">
      <div id="tabs" class="ui pointing secondary menu">
        <a class="item active" data-tab="first">My Stocks</a>
        <a class="item" data-tab="second">Transactions</a>
      </div>
      <div class="ui tab active" data-tab="first">
        <div ng-include src="'app/components/stocks/subviews/myStocks.html'" ng-controller="MyStocksController"></div>
      </div>
      <div class="ui tab" data-tab="second">
        <div ng-include src="'app/components/stocks/subviews/transactionHistory.html'" ng-controller="TransactionHistoryController"></div>
      </div>
    </div>
    <div ng-show="hasQuery" class="sixteen wide column" ng-include src="'app/components/stocks/subviews/singleStockView.html'" ng-controller="SingleStockViewController"></div>
    <script>
      $('#tabs.menu .item').tab();
    </script>
</div>
