<main class="container container-body">
    <div style="margin-bottom: 5px;">
        Click on a date to add an event
    </div>
    <div id="calendar"></div>
    <form class="ui modal" id="event-modal" ng-submit="eventSubmit(newEvent)">
        <i class="close icon"></i>
        <div class="header">
            <span ng-show="newEvent.EventID != null">Edit Event:</span>
            <span ng-show="newEvent.EventID == null">Add Event:</span>
            {{newEvent.EventStartDate | date:"yyyy-MM-dd"}}
        </div>
        <div class="ui form content">
            <div class="field">
                <label>Event Name  </label>
                <input type="text" name="event-name" placeholder="Name" style="max-width: 40em" ng-model="newEvent.EventName">
            </div>
            <div class="ui checkbox field">
                <input type="checkbox" id="EventRunsAllDay" ng-model="newEvent.EventIsAllDay">
                <label for="EventRunsAllDay">Event Runs All Day</label>
            </div>
            <div class="field" id="start" ng-hide="newEvent.EventIsAllDay">
                <label>Event Start Time  </label>
                <input type="number" id="event-start-hour" min="1" max="12" style="max-width: 5em" ng-model="newEvent.startHour"> :
                <input type="number" id="event-start-min" min="0" max="60" style="max-width: 5em" ng-model="newEvent.startMinute">
                <select class="ui dropdown" id="event-start-ampm" style="max-width: 5em; display: inline" ng-model="newEvent.startAmpm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
            <div class="field" id="end" ng-hide="newEvent.EventIsAllDay">
                <label>Event End Time  </label>
                <input type="number" id="event-end-hour" min="1" max="12" style="max-width: 5em" ng-model="newEvent.endHour"> :
                <input type="number" id="event-end-min" min="0" max="60" style="max-width: 5em" ng-model="newEvent.endMinute">
                <select class="ui dropdown" id="event-end-ampm" style="max-width: 5em; display: inline" ng-model="newEvent.endAmpm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
            <div ng-show="eventError != null" class="ui negative message">
                {{eventError}}
            </div>
        </div>
        <div class="actions">
            <button class="ui button red" ng-click="deleteEvent(newEvent)" ng-show="newEvent.EventID != null">Delete Event</button>
            <button class="ui button" ng-click="eventDiscard()">Discard Changes</button>
            <button class="ui green button" type="submit" ng-show="newEvent.EventID != null">Edit Event</button>
            <button class="ui green button" type="submit" ng-show="newEvent.EventID == null">Add Event</button>
        </div>
    </form>
    <script>
        function disabletime() {
            $('#end').toggleClass("disabled");
            $('#start').toggleClass("disabled");
            $('#event-start-hour').val("12");
            $('#event-start-second').val("00");
            $('#event-start-ampm').val("AM");
            $('#event-end-hour').val("11");
            $('#event-end-second').val("59");
            $('#event-end-ampm').val("PM");
        }
    </script>
</main>
